.page{
    min-height: 100vh;
}


.shuvro-img{
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.3));
    width: 80%;
    transition: transform 0.1s ease-out;
    will-change: transform;
}


.title{
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 300;
    color: #4d4d4d;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}



@media (max-width: 767px) {
    .shuvro-img {
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

.sh-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.1s;
    transform-origin: center center;
}

.card-body {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
}


.my-col {
    width: 100%; /* or any other width value you want for the parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-box {
    width: 100%;
    padding-top: 100%; /* This makes the height equal to the width, maintaining a square aspect ratio */
    background-color: rgba(206, 206, 206, 0.235);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-box img {
    position: absolute; /* Position the image absolutely to center it within the box */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%; /* Adjust as necessary */
    max-height: 60%; /* Adjust as necessary */
}